*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
/uploads
/public/uploads
/spec/tmp/
/log/*.log
/examples/demo/tmp/
/examples/demo/app/assets/active_admin.css
/examples/demo/db/schema.rb
/examples/rails_admin/tmp/
/rails_admin_settings-*.gem
