- if @object.mode == 'two'
  = form.text_area :content_2, :value => field.value, :rows => 5, :cols => 48
- elsif @object.mode == 'two-html'
  = javascript_include_tag "ckeditor/init"
  = form.cktext_area :content_2, :value => field.value, :rows => 5, :cols => 48
